<div id="kalendarz">
    <h2>Kalendarz</h2>
    <div id="data">
        
    </div>
    @*@Ajax.ActionLink("Dodaj zadanie", "AddTask", "Dashboard", new AjaxOptions { UpdateTargetId = "data", InsertionMode = InsertionMode.Replace, HttpMethod = "Get" }, new { @class = "transition" })*@
</div>

