
        <tr>
            <td>Numer klienta</td>
            <td>Nazwa firmy</td>
            <td>Imię</td>
            <td>Nazwisko</td>
            <td>Adres</td>
            <td>Miasto</td>
            <td>Województwo</td>
            <td>Kod pocztowy</td>
            <td>Kraj</td>
            <td>Numer telefonu</td>
            <td>E-mail</td>
            <td>Oferta</td>
            <td>Zamówienia</td>
        </tr>

