@model List<EasyERP.Models.HelpModels.Basket>

<table class="edit">
    <thead>
        <tr>
            <th>Produkty</th>
            <th>Ilość</th>
            <th>Cena</th>
            <th>Akcja</th>
        </tr>
    </thead>
    <tbody>
        @foreach (EasyERP.Models.HelpModels.Basket product in Model)
        {
            <tr>
                <td>@product.Product.Name</td>
                <td>@product.Amount</td>
                <td>@product.Product.PurchasePrice</td>
                <td class="akcja"><a href="#" class="true"></a><a href="#" class="false"></a><a href="#" class="delete"></a></td>
            </tr>
        }
        <tr class="empty">
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
        </tr>
    </tbody>
</table>